global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets:
          {% for host in groups['source'] + groups['target'] %}
          - '{{ hostvars[host]["ansible_host"] | default(host) }}:9100'
          {% endfor %} 
